<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseAccess" value="Host=localhost;Username=postgres;Password=Rainbowdash1!;Database=TourPlanner"/>
		<add key="UrlResource" value="http://open.mapquestapi.com/directions/v2/route?key=qjIR2ykj1oNgCnJYGOAHWwq5UCf4AEpY&amp;unit=m&amp;locale=de_DE"/>
		<add key="UrlImageDownload" value="https://www.mapquestapi.com/staticmap/v5/map?key=qjIR2ykj1oNgCnJYGOAHWwq5UCf4AEpY&amp;size=600,400&amp;zoom=11&amp;rand=737758036&amp;"/>
		<add key="ImageFolderDirectory" value ="C:\Users\chris\OneDrive\Desktop\FH\Viertes Semester\Software Engineering 2\Übung\Projekt\imageFolder"/>
	</appSettings>
</configuration>
