<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseAccess" value="Host=localhost;Username=postgres;Password=Rainbowdash1!;Database=TourPlanner"/>
		<add key="UrlResource" value="http://open.mapquestapi.com/directions/v2/route?key=qjIR2ykj1oNgCnJYGOAHWwq5UCf4AEpY&amp;unit=m&amp;locale=de_DE"/>
	</appSettings>
</configuration>
